.wform {
    /* padding: 10px; */
    border: grey 0.5px solid;
    border-radius: 1%;
    background-color: #EFEFEF;
}

.col-lg-7 {
    padding: 0px;
}

.col-lg-4 {
    padding: 0px;
    margin-right: 1rem;
}

.formtitle {
    background-color: #343a40;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.blue {
    background-color: #39A2DB;
    border: none;
}

.blue:hover {
    background-color: #7C83FD;
}

.twb {
    border: grey 0.5px solid;
    border-radius: 1%;
    background-color: #EFEFEF;
    height: 550px;
}

.form-control.ng-invalid.ng-touched {
    border: #FF3D68 1.5px solid;
}